 body {
    margin: 50px;
    font-family: sans-serif;
    font-size: 150%;
    background-color:black;
}


.container1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: cadetblue;
    border: 10px solid black;
    padding: 20px;

}



.class1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
   
}


.class2{
    background-color: burlywood;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 10px solid red;
}

.class3{
    background-color: greenyellow;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 7;
    border: 10px solid red;
}

.banner{
    background-color:rgb(44, 42, 42);
    
}
.appname{
    color:white;
}
